body {
    font-family: 'Muli', sans-serif;
    background-color: #ffffff;
    color: black;
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
    max-width: 800px;
}

.main {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.headshot {
    margin: 1.3em 5% 0.2em 0em;
    width: 30%;
}

.profile {
    margin: 0em 0em 1.5em 0em;
    display: flex;
    text-align: justify;
}

.paper {
    display: flex;
    margin: 1em 0em 1em 0em;
}

.conference {
    float: left;
    width: 12%;
    margin-right: 20px;
    font-size: 80%;
    margin-top: 0.3em;
}

.citation {
    float: left;
    width: 80%;
}

.news-item {
    display: flex;
    margin: 1em 0em 1em 0em;
}

.news-date {
    float: left;
    width: 12%;
    margin-right: 20px;
    font-size: 80%;
    margin-top: 0.3em;
}

.news-text {
    float: left;
    width: 80%;
}

h1,
h2,
h3 {
    font-weight: 500;
}

h3 {
    margin-bottom: 0.25em;
}

a {
    color: #164d85;
    text-decoration: none;
}

a:hover {
    color: #066fd8;
}

.hbar {
    margin-left: auto;
    margin-right: auto;
    border-top: solid;
    border-top-width: 2px;
    color: #164e8555;
}

#footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 10px;
    color: rgb(109, 109, 109);
}

.section {
    margin: 0em 0em 2em 0em;
}

select {
    font: inherit;
    border: none;
    background-color: #ffffff;
    margin: 0;
    width: 100%;
    outline: none;
}